deploy/node-red-v16/flows_ubuntu.json
[{"id":"eec8689f.f55f08","type":"tab","label":"twitter"},{"id":"1d20e5ca.0219ea","type":"tab","label":"dashboard"},{"id":"1de38d82.3a8262","type":"ui_group","z":"","name":"Activity","tab":"85c2ab2c.7d71a8","order":1,"disp":false,"width":"16"},{"id":"85c2ab2c.7d71a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"52b9366c.4aa9c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":" Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d35c4750.d2b698","type":"ui_link","z":"","name":"Editor","link":"/","icon":"open_in_browser","target":"newtab","order":1},{"id":"ac088280.7a1f","type":"ui_group","z":"","name":"Misc","tab":"85c2ab2c.7d71a8","order":2,"disp":false,"width":"16"},{"id":"e9429518.d9b168","type":"function","z":"1d20e5ca.0219ea","name":"event count","func":"msg.method = 'GET'\nmsg.url = `${global.get('process').env.API_ROOT}/events/count`\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["c6bb9146.01826"]]},{"id":"c6bb9146.01826","type":"http request","z":"1d20e5ca.0219ea","name":"event count","method":"use","ret":"obj","url":"","tls":"","x":509.4444274902344,"y":341.11114501953125,"wires":[["940bd75f.2f15e8"]]},{"id":"5cdfecfc.239654","type":"inject","z":"1d20e5ca.0219ea","name":"loop","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":118,"y":103,"wires":[["e9429518.d9b168","dafa93dc.a399f","e00c246e.659458","919236fb.2a9d58"]]},{"id":"bcfd83d4.1b9cc","type":"debug","z":"1d20e5ca.0219ea","name":"","active":true,"console":"false","complete":"false","x":810,"y":860,"wires":[]},{"id":"940bd75f.2f15e8","type":"function","z":"1d20e5ca.0219ea","name":"parse count","func":"\nmsg.topic = 'events'\nmsg.payload = msg.payload.count\n//console.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["8fd56d8d.402a3","db7ef9f0.c99a58","10d74049.3d04a","74abd8b8.c9aac8"]]},{"id":"db7ef9f0.c99a58","type":"ui_gauge","z":"1d20e5ca.0219ea","name":"gauge","group":"ac088280.7a1f","order":6,"width":"4","height":"4","gtype":"wave","title":"Events","label":"units","format":"{{value}}","min":0,"max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":626,"y":774,"wires":[]},{"id":"8fd56d8d.402a3","type":"ui_chart","z":"1d20e5ca.0219ea","name":"event count","group":"1de38d82.3a8262","order":1,"width":"8","height":"8","label":"Events","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":550,"y":560,"wires":[["bcfd83d4.1b9cc"],[]]},{"id":"f7db8682.6c66f8","type":"ui_chart","z":"1d20e5ca.0219ea","name":"pie","group":"ac088280.7a1f","order":5,"width":"4","height":"4","label":"another","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":490,"y":922,"wires":[[],[]]},{"id":"10d74049.3d04a","type":"function","z":"1d20e5ca.0219ea","name":"bogus num","func":"msg.topic = 'events'\nmsg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":666,"wires":[["f7db8682.6c66f8"]]},{"id":"74abd8b8.c9aac8","type":"function","z":"1d20e5ca.0219ea","name":"bogus num","func":"msg.topic='other'\nmsg.payload = 5\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":797,"wires":[["f7db8682.6c66f8"]]},{"id":"92f00d2e.81a88","type":"debug","z":"eec8689f.f55f08","name":"","active":true,"console":"false","complete":"true","x":530,"y":520,"wires":[]},{"id":"31135746.4e7c88","type":"function","z":"eec8689f.f55f08","name":"post attrs","func":"let t = msg.tweet,\n  ent = t.entities || {},\n  hashtags = (ent.hashtags || []).map(function(h) {return h.text}),\n  image_urls = ent.urls || [],\n  post_url = 'https://twitter.com/' + t.user.screen_name + '/status/' + t.id_str\n  \nfunction getCampaigns() {\n  let campaigns = ['100', '200', '300', '400', '500', '600']\n  return [1,2,3].map(() => pick(campaigns))\n}\n\nfunction pick(arr) {\n  return arr[Math.floor(Math.random() * arr.length)]\n}\n\nmsg.method = 'POST'\nmsg.url = `${global.get('process').env.API_ROOT}/qcr/insert`\nmsg.payload = {\n    post_id: t.id_str,\n    post_type: 'node-red-twitter',\n    author_id: t.user.id_str,\n    screen_name: t.user.screen_name,\n    author_image_url: t.user.profile_image_url,\n    lang: t.lang,\n    text: t.text,\n    hashtags: hashtags,\n    image_urls: image_urls,\n    timestamp_ms: t.created_at,\n    post_url: post_url,\n    quoted_status: t.quoted_status,\n    quote_post_id: t.quoted_status_id_str,\n    broadcast_post_id: t.retweeted_status ? t.retweeted_status.id_str : null,\n    reply_to_post_id: t.in_reply_to_status_id_str,\n    campaigns: getCampaigns()\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["c7ffd9b1.0f65d8"]]},{"id":"c7ffd9b1.0f65d8","type":"http request","z":"eec8689f.f55f08","name":"create posts","method":"use","ret":"obj","url":"","tls":"","x":370,"y":380,"wires":[["92f00d2e.81a88"]]},{"id":"30422aae.91bbd6","type":"twitter in","z":"eec8689f.f55f08","twitter":"","tags":"police,riot,shooting,protest,march,crowd,gathering","user":"false","name":"keywords","topic":"tweets","x":80,"y":100,"wires":[["31135746.4e7c88"]]},{"id":"dafa93dc.a399f","type":"function","z":"1d20e5ca.0219ea","name":"smpost count","func":"msg.method = 'GET'\nmsg.url = `${global.get('process').env.API_ROOT}/socialmediaposts/count`\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["58cd54b7.6ea3ec"]]},{"id":"58cd54b7.6ea3ec","type":"http request","z":"1d20e5ca.0219ea","name":"smpost count","method":"use","ret":"obj","url":"","tls":"","x":800,"y":340,"wires":[["af14edcc.3d97c"]]},{"id":"af14edcc.3d97c","type":"function","z":"1d20e5ca.0219ea","name":"parse count","func":"\nmsg.topic = 'posts'\nmsg.payload = msg.payload.count\n//console.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["64cab793.c5ed98"]]},{"id":"64cab793.c5ed98","type":"ui_chart","z":"1d20e5ca.0219ea","name":"smpost count","group":"1de38d82.3a8262","order":2,"width":"8","height":"8","label":"Posts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":860,"y":560,"wires":[["bcfd83d4.1b9cc"],[]]},{"id":"e00c246e.659458","type":"function","z":"1d20e5ca.0219ea","name":"jobset count","func":"msg.method = 'GET'\nmsg.url = `${global.get('process').env.API_ROOT}/jobsets/count?[where][state]=running`\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1080,"wires":[["ef9dedfd.f181f"]]},{"id":"ef9dedfd.f181f","type":"http request","z":"1d20e5ca.0219ea","name":"jobset count","method":"use","ret":"obj","url":"","tls":"","x":209.44442749023438,"y":1221.1111450195312,"wires":[["42f7aa19.9de1b4"]]},{"id":"b23626e.8450bd8","type":"ui_chart","z":"1d20e5ca.0219ea","name":"jobset count","group":"1de38d82.3a8262","order":3,"width":"8","height":"8","label":"Jobs","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":270,"y":1480,"wires":[["bcfd83d4.1b9cc"],[]]},{"id":"42f7aa19.9de1b4","type":"function","z":"1d20e5ca.0219ea","name":"parse count","func":"\nmsg.topic = 'jobset'\nmsg.payload = msg.payload.count\n//console.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1340,"wires":[["b23626e.8450bd8"]]},{"id":"919236fb.2a9d58","type":"function","z":"1d20e5ca.0219ea","name":"smpost state count","func":"msg.method = 'GET'\nmsg.url = `${global.get('process').env.API_ROOT}/events/count?[where][state]=featurized`\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1080,"wires":[["426e10ba.e842e"]]},{"id":"426e10ba.e842e","type":"http request","z":"1d20e5ca.0219ea","name":"smpost state count","method":"use","ret":"obj","url":"","tls":"","x":729.4444274902344,"y":1221.1111450195312,"wires":[["522aacd0.692b64"]]},{"id":"fcbba868.ad7438","type":"ui_chart","z":"1d20e5ca.0219ea","name":"smpost state count","group":"1de38d82.3a8262","order":4,"width":"8","height":"8","label":"Featurized Posts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":790,"y":1480,"wires":[[],[]]},{"id":"522aacd0.692b64","type":"function","z":"1d20e5ca.0219ea","name":"parse count","func":"\nmsg.topic = 'smpost2 count'\nmsg.payload = msg.payload.count\n//console.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1340,"wires":[["fcbba868.ad7438"]]}]